{
  "singleQuote": true,
  "printWidth": 120,
  "editor.formatOnSave": false,
  "proseWrap": "never",
  "tabWidth": 2,
  "requireConfig": false,
  "useTabs": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "semi": true
}
